@import '../../scss/_variables';

.section-top {
    margin-bottom: 60px;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__subtitle {
        margin-top: 5px;
        font-size: 18px;
        font-weight: 500;
        color: $color-secondary;
        @media (max-width: 576px) {
            text-align: center;
        }
    }

    & &__link {
        padding: 10px 50px;
    }
}
