@import '../../scss/_variables';

a.link-button {
    border-radius: 10px;
    font-size: 14px;
    text-transform: none;
    font-family: 'Inter', system-ui;
}
button.link-button {
    border-radius: 10px;
    font-size: 14px;
    text-transform: none;
    font-family: 'Inter', system-ui;
}
