.page-profile {
    width: 100%;

    &__top {
        padding: 20px;
        background-color: #3691c9;
    }

    &__content {
        padding: 20px;
    }
    .MuiFormControl-root {
        padding-bottom: 20px;
    }
}
