@import '../../scss/_variables';

.component-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: $padding-x-desktop;
    border-bottom: 1px solid $header-bottom-color;
    @media (max-width: 767px) {
        padding: 40px $padding-x-mobile;
    }

    a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            color: lighten($color: $color-primary, $amount: 30);
        }
    }

    &__user {
        cursor: pointer;
    }

    &__wrap-logo {
        @media (max-width: 767px) {
            flex: 1;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-img {
        margin-right: 15px;
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__title {
        font-size: 1em;
        text-transform: uppercase;
        transition: font-size ease-in-out 0.3s;
    }

    &__subtitle {
        font-size: 0.8em;
        opacity: 0.5;
        transition: font-size ease-in-out 0.3s;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    &__menu {
        @media (max-width: 767px) {
            position: absolute;
            height: 0;
            padding: 0;
            top: 120px;
            left: 0;
            width: 100%;
            overflow: hidden;
            background-color: $bc-primary;
            z-index: 5;
            transition: all 0.5s ease-in-out;

            &--active {
                height: 100vh;
                padding: 80px 10px;
            }
        }
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    &__burger {
        display: none;
        width: 20px;
        height: 13px;
        margin-right: 15px;
        transform: translateY(-2px);
        @media (max-width: 767px) {
            display: block;
        }
        & span {
            position: absolute;
            left: 0;
            top: 6px;
            width: 100%;
            height: 1px;
            background-color: $color-primary;
            transition: all 0.3s ease-in;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            background-color: $color-primary;
            transition: all 0.3s ease-in;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        &--active::before {
            transform: rotate(45deg);
            top: 6px;
        }
        &--active::after {
            transform: rotate(-45deg);
            bottom: 6px;
        }
        &--active span {
            transform: scale(0);
        }
    }
}
