$color-primary: #000;
$color-secondary: #4784de;
$color-primary-lighten: #767676;
$bc-secondary: #e0ecf8;
$bc-primary: #fff;
$hero-blue-text: #1976d2;

$font-family: 'Inter', system-ui;

$header-height: 128px;
$header-bottom-color: #eaeaea;

$padding-x-mobile: 30px;
$padding-x-desktop: 40px;
